.add-currency-pair {
    font-family: sans-serif;
    text-align: center;
  }
  
  .graph-01 {
    background-image: linear-gradient(
      to right top,
      #4ecde4,
      #1fcad4,
      #00c6bf,
      #00c1a6,
      #06bb8a
    );
  }
  
  .graph-02 {
    background-image: linear-gradient(
      to right top,
      #e81a24,
      #f06841,
      #f7986b,
      #fbc29e,
      #feeada
    );
  }
  
  .graph-00 {
    background-image: linear-gradient(
      to right top,
      #163469,
      #753c81,
      #c53f77,
      #f76052,
      #fe9e15
    );
  }
  