<!DOCTYPE html>
<html>
  <head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" 
      type="image/png" 
      href="https://res.cloudinary.com/dgvup74b7/image/upload/v1568449726/favicon_izwlko.png">
  </head>
  <body>
  </body>
</html>
