.indicator-alerts-card {
    background-image: linear-gradient(
      to right top,
      #051937,
      #004d7a,
      #008793,
      #00bf72,
      #a8eb12
    );
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .expert-alerts-card {
    background-image: linear-gradient(to left bottom, #21b10f, #00b676, #00b6bb, #00b0e4, #12a4eb);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
