body {
    background: #222840;
    overflow-x: hidden;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff;
    opacity: 0.5; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ffffff;
    opacity: 0.5; 
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #ffffff;
    opacity: 0.5;
  }
  